<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!-- Metadata -->
    <metadata>
        <name>PMRGSOLUTION</name>
        <title>PMRG Solution Theme</title>
        <type>theme</type>
        <creationDate>2026-01-07 10:14</creationDate>
        <author>admin</author>
        <authorEmail>sugaam.dev@gmail.com</authorEmail>
        <authorUrl>http://www.limesurvey.org</authorUrl>
        <copyright>
            Copyright (C) 2005 - 2019 LimeSurvey Gmbh, Inc.
        </copyright>
        <license>GNU General Public License version 2 or later</license>
        <version>3.0.1</version>
        <apiVersion>3</apiVersion>
        <description twig="on">
            <![CDATA[
            {{gT("Custom Fruity based theme for PMRG Solution")}}
            ]]>
        </description>
        <lastUpdate>2026-01-07 10:14</lastUpdate>
        <extends>fruity</extends>
    </metadata>

    <!-- Compatibility -->
    <compatibility>
        <version>6.0</version>
    </compatibility>

    <!-- Assets -->
    <files>
        <css>
            <add>css/variations/sea_green.css</add>
            <remove>css/noTablesOnMobile.css</remove>
            <replace>css/animate.css</replace>
            <replace>css/theme.css</replace>
            <replace>css/custom.css</replace>
        </css>
        <js>
            <replace>scripts/theme.js</replace>
            <replace>scripts/custom.js</replace>
        </js>
        <print_css>
            <replace>css/print_theme.css</replace>
        </print_css>
    </files>

    <!-- Options -->
    <options>
        <container type="buttons" category="Simple options" width="4"
            title="Survey container" options="on|off" optionlabels="Yes|No">on</container>
    </options>

    <!-- ENGINE (FIX IS HERE) -->
    <engine>
        <viewdirectory>views</viewdirectory>
        <optionspage>core</optionspage>
    </engine>

    <!-- Disable updater -->
    <updaters disabled="disabled"></updaters>

</config>
